/* Rimuovi la x dagli input text su explorer */

input[type=text]::-ms-clear {
     display: none;
}

/* Layout e Stile della pagina principale */

div.z-north {
	height: 		100px;
	padding-top: 	5px;
	padding-bottom: 10px;
	background-color: #EDEFF5;
	border: none;
}

div.z-center {
	background-color: #EDEFF5;
	border: none;
}

div.z-south {
	height: 		25px;
	padding-top: 	5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #EDEFF5;
	border: none;
}

/* Intestazione con titolo e pulsanti delle sezioni */

.intestazione {
	/* bordi arrotondati */
	behavior: url('/Atti/css/pie.htc'); /* per ie */
	border-radius: 10px;


/* ombreggiattura intorno all'intestazione */
	box-shadow: 5px 5px 5px #8E8F93;

	background-color: #FFFFFF;
	border-style: solid;
	border-color: #4D6482;
	border-width: 2px;

/* 	margin: auto; */
	margin: 5px;
	padding-bottom: 5px;
}

.intestazioneDx {
	text-align: right;
}

.intestazioneDx .z-hlayout {
	margin-right: 	30px;
	margin-top: 	15px;
	padding-top: 	3px;
	padding-bottom: 3px;
}

.intestazioneDx .utente {
	margin-right: 	30px;
	font-size: 		9pt;
	font-family: 	verdana;
}

.logoApplicazione {
	width: 			100%;
	padding-right: 	10px;
 	margin-left: 	10px;
  	margin-top: 	5px;
}

.titoloApplicazione {
	font-size: 		36px;
	font-weight:    bold;
	font-family: 	Arial, Helvetica, sans-serif;
	padding-left: 	20px;
	color: 			#0099CC;
}

.descrizioneApplicazione {
	padding-left: 	20px;
	padding-right:	10px;
	font-family: 	Arial, Helvetica;
	font-size: 		20px;
	font-style: 	italic;
	color: 			#666666;
}

/** tabbar con immagine a destra **/
.tabsImgRight img {
	float: right;
	padding-left: 5px;
}
/** barra a sinistra nel documento **/
#docMenuSx {
	background-color: #FFFFFF;
	border: 1px solid #C5C5C5;
}

.docMenuSx .z-tab-ver .z-tab-ver-text {
	font-style: normal;
	font-family: arial, sans-serif;
	font-size: 10px;
	text-align: center;
	font-style: normal;
	white-space: nowrap;
	color: #555;
	cursor: pointer;
	font-size-adjust: none;
}

.z-tabs-ver-scroll {
	width: 	125px !important;  /* larghezza del tab a sinistra */
}

.docMenuSx .z-tabs-ver-scroll .z-tabs-ver-header {
	background: none repeat scroll 0 0 #EDEFF5;
	zoom: 1;
	position: relative;
}

.z-tabs-header {
overflow: visible !important;
}

.docMenuSx img {
	display: 		block;
	padding-left: 	42px;   /* spazio a sinistra dell'immagine */
}

/** barra dei pulsanti delle sezioni **/

button.afc-button-header {
	height:	30px;
	width: 	145px;

	font-size:		10px;
	font-family:	verdana;
	text-align: 	right;
	padding-right:	5px;

	background-color:#cfd3e3;
	border-style:	solid;
	border-color:	#556b88;
	border-width:	3px;
	cursor:			pointer;

	/* bordi arrotondati */
	-webkit-border-radius: 	10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
	behavior: 				url('/Atti/css/pie.htc');
}

button.selected {
   background-color:	#fefbfd;
   border-color:		#556b88;
}

button.afc-button-header img {
	position: 	absolute;
	z-index: 	1000000;
	top: 		0px;
	left: 		10px;
}

/* sezione per oggetto paging */
.afc-paging .z-paging-btn .z-paging-next {
	background-position: 0 0;
	background-image: url('../images/afc/22x22/next.png');
}

.afc-paging .z-paging-btn .z-paging-last {
	background-position: 0 0;
	background-image: url('../images/afc/22x22/last.png');
}

.afc-paging .z-paging-btn .z-paging-first {
	background-position: 0 0;
	background-image: url('../images/afc/22x22/first.png');
}

.afc-paging .z-paging-btn .z-paging-prev {
	background-position: 0 0;
	background-image: url('../images/afc/22x22/prev.png');
}

.afc-paging {
	border-color: 	none;
	border-style: 	none;
	border-width: 	0 0 0px;
	display: 	  	block;
	padding: 	  	3px;
	position: 		relative;
	repeat-x: 		scroll 0 center;
	background: 	repeat-x 0 -1px;
}

.afc-paging .z-paging-btn {
	background: none;
}


/* Pulsantiera standard grid*/
.afc-control-bar {
	/* bordi arrotondati */
	-webkit-border-radius: 	10px;
	-moz-border-radius: 	0px;
	border-radius: 			10px;
	behavior: 				url('/Atti/css/pie.htc');

	background-color: #FFFFFF;
	border-style: 	solid;
	border-color: 	#B7BABC;
	border-width: 	1px;

	padding-top: 	3px;
	padding-bottom: 3px;
	padding-right: 	5px;
	padding-left: 	5px;
}

.layoutRicerca {
	border: 		solid;
	border-color: 	#86A4BE;
	border-width: 	1px;
	background-color:#ffffff;
}

.imgVisValido {
	cursor: pointer;
}


/* intestazione documenti principali */

.documentoBandaTitolo >tr > td {
	background: #EDEFF5 !important;
	border: 	0px;
	overflow:	hidden;
	width: 		100%;
}

/* .documentoBandaTitolo tr.documentoBandaTitolo tr.z-row td.z-row-inner, .documentoBandaTitolo tr.z-row .z-cell { */
/* 	background: none; */
/* 	border: 	0px; */
/* 	overflow:	hidden; */
/* } */

.documentoBandaTitolo tr.z-row .z-cell {
	background: #D7E3EC !important;
	border: 0px !important;
}

 div.z-grid.documentoBandaTitolo {
	border: 0px;
}

tr.documentoBandaTitolo.z-row, tr.documentoTitolo.z-row, td.documentoTitolo.z-row {
     background: 	#D7E3EC !important;
     border: 		0px;
     overflow:		hidden;
	 color: 		#006384;
}

tr.documentoBandaTitolo .documentoTitolo .z-label {
	font-family: arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: 		#006384;
	overflow:	hidden;
}

tr.z-row .z-cell {
	background: none !important;
}

.documentoTitolo {
	font-family: 	sans-serif;
	font-size: 		18px;
	color: 			#006384;
	margin-bottom: 	100px;
}

.documentoSottoTitolo {
/* 	background-color: 	#D7E3EC; */
	font-family: 		sans-serif;
	font-size: 			12px;
	color: 				#006384;
	margin-top: 		3px;
	display: 			block;
}

.documentoSottoTitolo .zcell {
	background-color: 	#D7E3EC;
}


.documentoSottoTitolo .z-label {
	display: block;
}

/** maschera di un documento **/

.titoloPagina {
	font-family: sans-serif;
	font-size: 	18px;
	color: 		#006384;
}

.sottoTitoloPagina {
	font-family: sans-serif;
	font-size: 	14px;
	color: 		#006384;
}

.linkTitoloPagina {
	display: 		block;
	font-family: 	sans-serif;
	font-size: 		12px;
	color: 			#006384;
	text-decoration:underline;
}

.barraTitoloPagina {
	background-color: 	#D7E3EC;
	padding-top:		7px;
	padding-left: 		5px;
	padding-right:		7px;
	padding-bottom: 	5px;
	margin-top: 		0px;
	margin-right: 		0px;
	margin-left: 		0px;
	margin-bottom: 		10px;
}

.barraTitoloPagina img {
	float: right;
}

.datiCreazioneModifica {
	margin-top: 	15px;
	margin-bottom: 	15px;
	text-align: 	right;
}

.datiCreazioneModifica span.z-label {
	font-family: 	Verdana;
	font-size: 		8pt;
}

.barraPulsanti, .pulsantiIter {
	background-color: #D7E3EC;
	padding: 	5px;
/*	margin-left: 5px;
	margin: 	0px;
	height: 	25px;  */
	overflow-y:	auto;
	position: relative;
}

.barraPulsanti > div {
	float: right;
}

.barraPulsanti > span {
	float: left;
}


.pulsantiIter > div, .pulsantiIter > span {
	display: inline;
	float: right;
}

/* .pulsantiIter > span.z-button { */
/* 	margin: 1px 5px 0px 0px !important; */
/* } */

.singoloPulsanteIter > span {
	margin: 1px 5px 0px 0px !important;
}

/** Grid usata come FORM (elimina l'effetto hover) **/

/* aggiunta per la datiseduta ....da vedere se tenere per tutte */
div.z-grid-body {
	background: #EDEFF5 !important;
}

.form div.z-grid-body {
	background: #EDEFF5 !important;
	border: 	0;
	overflow:	auto;
	width: 		100%;
}

tr.form.z-row, tr.form.z-row > td {
     background: #EDEFF5; /* più scuro se vogliamo aumentare il contrasto #D2D8E6; */
}

tr.form-trasparente.z-row td.z-row-inner,
tr.form-trasparente.z-row .z-cell,
div.form-trasparente.z-grid,
tr.form-trasparente.z-grid-odd,
tr.form-trasparente.z-grid-odd .z-cell {
	border: none;
	border-collapse: collapse;
	border-spacing: 0px;
	background: none;
}

/* sfondo grigio chiaro per le form */
.z-window-modal-cnt, .z-window-highlighted-cnt, .z-window-modal-cnt-noborder, .z-window-highlighted-cnt-noborder, .z-window-overlapped-cnt-noborder {
	background: #F9FAFB;
}

.mandatoryLabel {
	color: 		#ff2323;
	font-size: 	20px;
	position: 	relative;
	top: 		0.25em;
	right: 		0.25em;
}

/* ODG */
.elencoSedute .seduta  {
	border-bottom: 	1px solid #C5C5C5;
	padding-top: 	5px;
	padding-left: 	5px;
	padding-right: 	5px;
	padding-bottom: 15px;
}

.elencoSedute .z-groupbox-3d-cnt {
	border: 			1px solid #c5c5c5;
 	padding: 			0px;
	background-color: 	#FFFFFF;
}

.titoloPaginaSeduta {
	font-family: sans-serif;
	font-size: 	15px;
	color: 		#006384;
}

.secondoTitoloPaginaSeduta {
	font-family: sans-serif;
	font-size: 	12px;
	color: 		#006384;
}

.barraTitoloPaginaSeduta {
	background-color: 	#D7E3EC;
	padding-top:		7px;
	padding-left: 		5px;
	padding-right:		7px;
	padding-bottom: 	30px;
	margin-top: 		0px;
	margin-right: 		0px;
	margin-left: 		0px;
	margin-bottom: 		25px;
	height:				30px;
}

.barraTitoloPaginaSeduta img {
	float: right;
}

/*css per tutte quelle text area che non devono essere resizable*/
.noresizable{
	resize:none
}

.msgErrore {
	color: #ff2323;
}

/* pulsanti disabilitati nella barra delle icone */
.z-toolbarbutton-disd {
	opacity: 		.3 !important;
	-moz-opacity: 	.3 !important;
	filter: 		alpha(opacity=30)  !important;
}

.sedutaToolbar .z-button-disd tr td {
	cursor: default;
	color: gray;
}

/*
Per personalizzare le list si possono usare queste classi
div.z-listheader-cnt
div.z-listcell-cnt
div.z-listfooter-cnt
*/
div.z-listheader-cnt, div.z-listbox-header div.z-auxheader-cnt {
	font-weight: bold;
	padding: 3px 2px 3px;
}

div.z-listbox-body .z-listcell {
	padding: 2px;
}

/* messaggi di errore */
.windowErrore {
	border: 2px solid #FF0000;
}

.testoErrore {
	background-color: #FFE2E1;
	padding: 5px;
}

.pulsanteErrore {
	border: none;
	color: #fff;
	font-weight: bold;
	padding: 0;
	height: 25px;
	width: 80px;
	background-color: #E46051
}

.redText {
	color: 		#ff2323;
}

.warnMessage {
	font-weight: bold;
	color: firebrick;
}

.infoMessage {
	font-weight: bold;
	color: darkgreen;
}

.z-tab-ver-hl {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.z-tab-ver-hr {
	padding-bottom: 5px !important;
}

tr.z-row td.z-cell {
	padding: 2px 4px 2px 6px !important;
}

.z-combobox-rounded .z-combobox-rounded-btn {
	margin-top: 0px !important;
}

/* Notifiche */
.z-notification .z-notification-cl, .z-notification .z-notification-cnt, .z-notification-ref .z-notification-cl, .z-notification-ref .z-notification-cnt {
	height: auto;
	width: auto;
	font-size: 10pt;
}

.z-notification .z-notification-cl, .z-notification .z-notification-cnt {
	white-space: pre;
	padding-right: 15px;
	font-size: 10pt;
}

.z-notification-ref .z-notification-cnt {
	white-space: pre;
	padding: 15px;
	font-size: 10pt;
}

/* Paginazione */
.paginazione.z-paging {
	padding: 0px;
}

.paginazione.z-paging .z-paging {
    border: none;
}

.paginazione.z-paging .z-hlayout-inner:nth-child(2) {
    text-align: right;
    margin-top: 10px;
}

.paginazione.z-paging .z-hlayout-inner:nth-child(2) .z-label{
    margin-right: 10px;
}

.z-tabbox-ver {
	position: relative;
}
.z-tabbox-ver .z-tabs-ver {
	float: none;
	position: absolute;
}
.z-tabbox-ver .z-tabpanels-ver {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

/* aumento il contrasto delle combobox disabilitate. */
.z-combobox-disd * {
  color: #555 !important;
}

/*nascondo la scroll bar del browser*/
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.z-textbox-disd, .z-decimalbox-disd, .z-intbox-disd, .z-longbox-disd, .z-doublebox-disd{
  opacity: 1;
  color: black !important;
  background: #F7F7FA !important;
}

/* evita la creazione della scroll nella cella dove sono presenti i radio button */
.z-radio-cnt{
 vertical-align: middle;
}