
.z-menuitem-text {
    font-size: 16px;
}
.category-context-menu-modal.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-context-menu-modal.container .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 7px;
    height: 100%
}
.codice, .descrizione {
        display: flex;
        align-items: center;
        gap:15px
}

.category-context-menu-modal.container .footer {
    padding: 7px;
    align-self: end;
}

.CATEGORIE_INDEX  .z-icon-caret-down:before {
    position: static;
}

.CATEGORIE_INDEX .z-treecell-content {
    padding: 0;
}

.CATEGORIE_INDEX .modal-footer {
     display: flex;
     justify-content: space-between;
     align-items: center;

     background-color: #eee;
     color: white;
     text-align: center;
     padding: 10px;
     border-top: 1px solid #ddd;
 }