 .companies-data-modal-grid-container {
     display: grid;
     grid-template-rows: 1fr auto;
     grid-template-rows: 1fr auto;
     height: 100%;
     width: 100%;
 }
 .companies-data-modal-main-content {
    padding: 15px;
 }

.companies-data-modal-grid-container .z-textbox, .z-intbox {
    height: 20px;
}

.field-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.field-item {
    box-sizing: border-box;
}

.z-datebox {
    width: 250px;
}