.z-window-modal {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
        "slnt" 0;
    }

    .z-window-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px !important;

        border-bottom: #ddd;

        font-family: "Inter", sans-serif;

        background: #0F172A;
        color: #fff;
    }

    .z-window-header button {
        display: flex;
        align-items: center;
    }

 .dictionaries-modal-grid-container {
     display: grid;
     grid-template-rows: 1fr auto;
     grid-template-rows: 1fr auto;
     height: 100%;
     width: 100%;
 }
 .dictionaries-modal-footer {
     display: flex;
     justify-content: flex-end;
     align-items: center;

     background-color: #eee;
     color: white;
     text-align: center;
     padding: 10px;
     border-top: 1px solid #ddd;
 }

 .save-button {
     padding: 8px 35px;
     border-radius: 4px;
     background: green;
     color: #fff;
     font-weight: bold;
 }

  .dictionaries-modal-main-content {
    display: flex;
    flex-direction: column;
  }

  .dictionaries-modal-main-content-header {
    display: flex;
    justify-content: space-between;

    padding: 10px 30px;

    background-color: #fff;
  }

    .dictionaries-modal-main-content-header label {
      font-size: 14px
    }


  .dictionaries-modal-main-content-header .left-block {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .dictionaries-modal-main-content-header .radio-buttons {
    display: flex;
    flex-direction: column;
  }

  .z-radio-content {
        font-family: "Inter", sans-serif;
  }

.dictionaries-row-labels {
    display: flex;
    gap: 160px;
    height: 100%;
    background-color: #eee;
}

.textbox-clob {
    height: 70px;
}

.dictionaries-modal-grid-container .z-label, .z-textbox {
      font-family: "Inter", sans-serif;
      font-size: 13px;
}

.z-listitem:nth-child(4) .z-label {
    align-self: baseline;
}

.z-textbox, .z-combobox {
    height: 30px;
}

.z-combobox-input, .z-comboitem {
    font-size: 14px;
}

.textbox-clob {
    height: 90px;
}

.z-listcell-content {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 4px 30px;
}


.z-listitem .z-listcell {
    border: none;
}

.z-listbox {
    border: none;
}

.z-checkbox {
}

.z-modal-mask {
    background: black;
}

.z-window-icon {
    color: white;
}
.z-window-icon:hover {
    color: white;
}

.option-label {
    font-size: 13px;
}

.dictionaries-listbox-container {
    display: block;
    background: #fff;
}

.altre-impostazioni .z-listcell-content {
    width: 23%;
}

.z-button {
    display: flex;
    align-items: center;

    font-size: 14px;
}