<div class="dropdown">
  <div class="display">
    <input type="text" [(ngModel)]="value" (click)="onInputClicked()" (keydown.enter)="onInputClicked()" (input)="onInputChange($event)" #autocompleteInput>
    <div class="icon-container" (click)="open=!open">
      <i class="caret fa-solid fa-caret-down"></i>
    </div>
  </div>
  <div class="list" [ngStyle]="{'display': open ? 'block': 'none', 'top': items.length > 4 ? '0' : '-65px'}">
    <div class="item" (click)="onItemClicked('(Nessuno)')">(Nessuno)</div>
    <div class="item" *ngFor="let item of items"
         [ngStyle]="{'color': value === item ? '#0093F9': 'rgba(0,0,0,0.9)'}"
         (click)="onItemClicked(item)"
         >
         {{item}}
    </div>
  </div>
</div>
